/* volgende class is toegevoegd aan de navigatie en regelt de achtergondkleur */
.bg-white{
  background-color: black;
}
/* volgende class regelt de marges en padding van de navigatie */
.navbar{
  z-index: 1000;
  padding-left: 3%;
}
.navbar-collapse{
text-align:center;
}
.navbar ul{
  padding-top:60px;
  color:#FFF;
}
.navbar .description{
  padding-top:345px;
}
